/*============================================

    Template: Moto - App Landing Page
	Css Name: Main Style
	Version: 1.1
	Design and Developed by: Hastech

==============================================
    
    CSS INDEX
    ===================
	
	2. HEADER AREA
	3. SLIDER AREA
	4. SERVICE AREA
	5. ABOUT AREA
	6. SECTION HEADDING STYLE
	7. AWESOME FEATURES AREA
	8. HOW WORK AREA
	9. FUN FACT AREA
	10. DOWNLOAD BUTTON AREA
	11. PRICING AREA
	12. TESTIMONIAL AREA
	13. TEAM AREA
	14. SUBCRIBE FORM AREA
	15. CONTACT FORM AREA
	16. CONTACT INFORMATION AREA
	17. CONTACT SOCIAL AREA
	18. HOMEPAGE TWO
	19. VIDEO BACKGROUND AREA
	20. ScreenShot Area
	21. ScrollUp
	
===========================================================*/

/* ============= 2. HEADER AREA ============= */
#navigation {
    padding: 0 15px;
}
.navbar {
    border-radius: 0;
    margin: 0;
    padding-top: 30px;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.5s ease 0s;
}
.navbar.navbar-fixed-top {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #54bbe6 0%, #ffb270 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #54bbe6 0%, #ffb270 100%) repeat scroll 0 0;
    box-shadow: 0 0 20px -10px #000;
    padding: 0;
}
.navbar-brand {
  padding: 19px 0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
.navbar-brand > img {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.navbar-fixed-top .navbar-brand > img {
    width: 85%;
}
.navbar-nav li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  transition: all 0.3s ease 0s;
}
.nav > li > a:focus, .nav > li > a:hover, .nav > .active > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  opacity: 0.6;
}
.navbar-nav li a.download-btn {
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 10px;
  padding: 8px 30px;
  transition:.3s;
}
.navbar-nav li a.download-btn:hover {
  background: #18426D none repeat scroll 0 0;
  border-color: #18426D;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  opacity: 1;
}

/* ============= 3. SLIDER AREA ============= */
.hero-area {
  background-image: url(img/slider/1.png);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  z-index: 1;
  position: relative;
  color: #fff;
}
.parallax {
  background-attachment: fixed;
}
.slider {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit- flex;
  display: -moz- flex;
  display: -ms- flex;
  display: -o- flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.slider h1 {
  color: #fff;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.slider p {
  color: #fff;
  font-size: 18px;
  margin: 0 0 35px;
  padding-right: 28%;
}
.slider-thumb {
  position: absolute;
  bottom: 0;
  right: 0%;
  z-index: 3;
}
.hero-btn {
  background: #54bbe6 none repeat scroll 0 0;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1)!important;
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1)!important;
  box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.1)!important;
}
.hero-btn:hover, .about-content > .hero-btn:hover {
  background-color: #18426D;
  color: #fff;
  text-decoration: none;
}
.hero-text p.he-p {
  padding: 0 22%;
  line-height: 30px;
}

/* Slider Nav */
.background-area .owl-nav div {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
  font-size: 38px;
  height: 50px;
  left: -56px;
  line-height: 45px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all 0.4s ease 0s;
  width: 50px;
  z-index: 999;
}
.background-area .owl-nav .owl-next {
    left: auto;
    right: -56px;
}
.background-area:hover .owl-nav div {
    left: 10px;
}
.background-area:hover .owl-nav .owl-next {
    left: auto;
    right: 10px;
}
.background-area .owl-nav div:hover {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
}
.image-1 {background-image: url("img/slider/4.png");}
.slide-animation {
  left: -15px;
  position: absolute;
  z-index:-9;
}
/* ============= 4. SERVICE AREA ============= */
.single-service {
  padding: 110px 25px 105px;
  -webkit-transition: .3s;
  transition: .3s;
}
.single-service h2 {
  font-size: 24px;
  padding-top: 15px;
}
.single-service:hover {
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  -webkit-transition: .3s;
  transition: .3s;
}
.service-icon {
  float: left;
  margin-right: 20px;
  margin-top: 40px;
}
.service-content {
  display: block;
  overflow: hidden;
}

/* ============= 5. ABOUT AREA ============= */
.about-content > h2 {
  margin-bottom: 35px;
}
.about-content > p {
  margin: 0 0 25px;
}
.watch-click-video {
  background: #54bbe6 none repeat scroll 0 0;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(255, 95, 109, 0.4)!important;
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 95, 109, 0.4)!important;
  -moz-box-shadow: 0 0 20px 0 rgba(255, 95, 109, 0.4)!important;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin-top: 25px;
}
.watch-click-video:hover {
  background-color: #18426D;
  color: #fff;
  text-decoration: none;
}
.about-content > .hero-btn i {
  margin-right: 5px;
}

/* ============= 6. SECTION HEADDING STYLE ============= */
.section-heading {
  margin: 0 auto;
  width: 48%;
}
.section-heading h2 {
  margin-bottom: 24px;
  position: relative;
  text-transform: capitalize;
  line-height: 30px;
}
.section-heading p {
    margin-bottom: 10px;
}

/* ============= 7. AWESOME FEATURES AREA ============= */
.awesome-feature {
  border-radius: 10px;
  padding: 40px 0 35px;
  transition: all 0.3s ease 0s;
}
.awesome-feature:hover{background: #54bbe6 none repeat scroll 0 0;}
.awesome-feature-icon span {
    display: block;
    height: 60px;
    margin-left: 10px;
    position: relative;
    width: 60px;
	margin:0 auto;
}
.awesome-feature-icon span:after {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(top, #54bbe6 0%, #ffb270 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #54bbe6 0%, #ffb270 100%) repeat scroll 0 0;
    border-radius: 60px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.awesome-feature-icon i {
    background-color: #f5f7fa;
    border-radius: 60px;
    color: #4c5462;
    display: inline-block;
    font-size: 24px;
    height: calc(100% - 2px);
    left: 0px;
    line-height: 60px;
    position: relative;
    text-align: center;
    top: 1px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: calc(100% - 2px);
    z-index: 1;
}
.awesome-feature:hover .awesome-feature-icon i {
  background-color: #54bbe6;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.20);
  color: #fff;
}
.awesome-feature:hover .awesome-feature-icon span::after {
  background: #54bbe6 none repeat scroll 0 0;
}
.awesome-feature-details {
  margin-top: 20px;
}
.awesome-feature-details h5 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color:#444;
}
.awesome-feature-details p {
  color: #666;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  padding: 0 35px;
  transition: all 0.3s ease 0s;
}
.awesome-feature:hover .awesome-feature-details h5,.awesome-feature:hover .awesome-feature-details p{color:#fff;}


/* ============= 8. HOW WORK AREA ============= */
.how-work-tab ul {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.15);
  display: flex;
}
.how-work-tab ul li {
  height: 50px;
  line-height: 50px;
  width: 33.33%;
}
.how-work-tab ul li a {
  color: #3e3e3e;
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.how-work-tab ul li.active a {
  background:#54bbe6;
  color: #fff;
}
.how-work-tab .tab-content p {
  margin-bottom: 25px;
}

/* ============= 9. FUN FACT AREA ============= */
.single-fact h5 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 0px;
	font-size:20px;
}
.single-fact h2 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 15px;
  line-height: 35px;
}

/* ============= 10. DOWNLOAD BUTTON AREA ============= */
.download-option-btn ul li a {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  color: #3e3e3e;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 18px 40px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.download-option {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  color: #3e3e3e;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 18px 40px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.download-option i{color:#54bbe6;padding-right:3px;transition:.3s;}
.button-active .download-option i{color:#fff;}
.download-option:hover i,.download-option.active:hover i{color:#fff;}
.download-option:hover,.download-option.active:hover{background:#54bbe6;color:#fff;}
.download-option.active{background:#54bbe6;color:#fff;}
.download-option.active i{color:#fff;}

/* ============= 11. PRICING AREA ============= */
.pricing-single {
  border-radius: 10px;
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  padding-top: 65px;
  transition: all 0.4s ease 0s;
}
.price-titel h4 {
  letter-spacing: 2px;
  margin: 0 0 10px;
}
.pricing-price > span {
  color: #3e3e3e;
  display: block;
  font-size: 50px;
  font-weight: 300;
  padding: 5px 0 9px;
}
.pricing-single .content-desc {
	margin:0px!important;
}
.price-decs ul li {
  color: #666;
  display: block;
  font-size: 16px;
  line-height: 38px;
}
.ordr-btn > a {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1)!important;
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1)!important;
  -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1)!important;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 20px 45px;
  transition: all 0.4s ease 0s;
  color:#666!important;
}
.ordr-btn.uppercase > a:hover {
  opacity: 0.5!important;
}
.price-decs {
  padding-bottom: 40px;
}
.pricing-single:hover,.pricing-single.active{background:#54bbe6;color:#fff;}
.pricing-single:hover .pricing-price > span,.pricing-single:hover .price-decs ul li,.pricing-single:hover .price-titel h4{color:#fff;}
.pricing-single.active .pricing-price > span,.pricing-single.active .price-decs ul li,.pricing-single.active .price-titel h4{color:#fff;}
.pricing-single:hover .ordr-btn > a,.pricing-single.active .ordr-btn > a{background:#54bbe6!important;color:#fff!important;display:block;}

/* ============= 12. TESTIMONIAL AREA ============= */
.testimonial-desc p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  margin: 0 0 30px;
  padding: 0 124px;
}
.testimonial-desc h4 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}
.testimonial-active.owl-theme .owl-controls {
  display: none!important;
}

/* ============= 13. TEAM AREA ============= */
.team-single {
  display: block;
  position: relative;
  transition:.3s;
  overflow:hidden;
  padding-right: 1px;
}
.team-single img {
  transform: scaleY(1);
  transition: all 0.7s ease-in-out 0s;
}
.team-single:hover img {
  transform: scale(1.2);
}
.team-single:hover {
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  border-radius:10px;
}
.team-overlay {
  background: #54bbe6 none repeat scroll 0 0;
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  padding: 22px 0 12px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  opacity:0;
  visibility:hidden;
  transition:.3s;
}
.team-single:hover .team-overlay{opacity:1;visibility:visible;top:50%;}
.team-overlay > h5 {
  color: #fff;
  font-weight: 600;
  margin: 0 0 6px;
  font-size:18px;
}
.team-overlay h6 {
  color: #fff;
  margin: 0 0 10px;
  font-size:14px;
  font-weight:400;
}

/* ============= 14. SUBCRIBE FORM AREA ============= */
.subcribe-form input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #54bbe6!important;
  border-radius: 5px;
  box-shadow: none;
  color: #444444!important;
  font-size: 13px;
  font-weight: normal;
  height: 45px;
  margin-right: 15px;
  padding-left: 20px!important;
  width: 30%;
}
.subcribe-form button {
  background: #54bbe6 none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  height: 45px;
  text-transform: uppercase;
  top: 0;
  width: 155px;
  transition:.3s;
  box-shadow: 0 0 20px 0px rgba(255, 95, 109, 0.4);
  -webkit-box-shadow: 0 0 20px 0px rgba(255, 95, 109, 0.4);
  -moz-box-shadow: 0 0 20px 0px rgba(255, 95, 109, 0.4);
  font-size:14px !important;
}
.subcribe-form button:hover{background:#F55160;}
.mc4wp-error {
  color: #54bbe6;
  text-align: center;
}


/* ============= 15. Contact Form Area ============= */
.contact-form {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  padding: 125px 70px;
  float:left;
}
.form-control {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #eee!important;
  border-radius: 5px!important;
  box-shadow: none;
  color: #333!important;
  height: 45px;
  padding: 10px 18px!important;
  transition: all 0.3s ease 0s;
  font-size:13px!important;
}
.form-control:focus {
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
  outline: 0 none;
  border:none;
}
.description textarea { height: 100px }
.form-group  button { border: none }
.btn-contact-bg {
  background: #54bbe6 none repeat scroll 0 0!important;
  border-radius: 5px!important;
  box-shadow: 0 0 20px 0px rgba(255, 95, 109, 0.4);
  -webkit-box-shadow: 0 0 20px 0px rgba(255, 95, 109, 0.4);
  -webkit-box-shadow: 0 0 20px 0px rgba(255, 95, 109, 0.4);
  color: #fff!important;
  display: inline-block;
  font-size: 15px!important;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 150px;
  border:none!important;
  height: 45px;
}
.btn-contact-bg:hover,
.btn-contact-bg:focus {
  background: #f55160;
  color: #fff;
}
#map { height: 530px; }
.contact-form .form-group {
  margin-bottom: 21px;
}
/* ============= 16. CONTACT INFORMATION AREA ============= */
.single-address {
  display: block;
  position: relative;
  margin-bottom:70px;
}
.single-address i {
  color: #fff;
  display: block;
  font-size: 36px;
  line-height: 55px;
}
.single-address .media-left {
  left: 70px;
  padding: 0;
  position: absolute;
}
.single-address .media-left.tw {
  left: 58px;
}
.single-address .media-left.three {
  left: 60px;
}
.single-address p {
color:#fff;
margin:0;
line-height:25px;
}
.conct-border {
  border-bottom: 1px solid rgba(250, 87, 101, 0.9);
  display: block;
  overflow: hidden;
}
.conct-border.two {
  border-bottom: 1px solid rgba(250, 87, 101, 0.2);
}

/* ============= 17. Contact Social Area ============= */
.contact-social ul li a {
  background: #fff none repeat scroll 0 0;
  border-radius: 100%;
  color: #000000;
  display: block;
  font-size: 15pt;
  height: 45px;
  line-height: 45px;
  margin-right: 15px;
  text-align: center;
  transition: all 0.4s ease 0s;
  width: 45px;
  margin: 0 12px;
}
.contact-social ul li a:hover{color:#fff;background:#54bbe6;}
.copyright-text p {
  color: #fff;
  font-size: 13px;
  margin-bottom: 0;
  padding: 0;
}
.copyright-text p a {
  color: #fff;
  font-weight:700;
}

/* ============= 18. HOMEPAGE TWO ============= */
.banner-video-btn {
  bottom: 53px;
  display: block;
  left: -4%;
  position: absolute;
  width: auto;
}
.banner-video-btn .video-popup {
  color: #fff;
  transition:.4s;
}
.banner-video-btn .video-popup:hover{color:#3e3e3e;}
.banner-video-btn .video-popup i {
  float: left;
  font-size: 24px;
  line-height: 35px;
}
.banner-video-btn .video-popup > span {
  float: left;
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  margin-left: 10px;
}
.background-content, .slider-carousel, .slider-full-carousel {
  z-index: 3;
}
.background-area {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.image-1, .image-2, .image-3 {
  background-attachment: scroll;
  background-clip: initial;
  background-color: rgba(0, 0, 0, 0);
  background-origin: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.single-carousel {
  background-size: cover;
}
.background-content {
  position: relative;
}
.banner-image {
  bottom: 70px;
  padding-left: 30px;
  position: absolute;
  right: 0;
  width: 50%;
}
.banner-image.two {
  bottom: 70px;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 22%;
}
.background-content {
  position: relative;
}

/* ============= 19. VIDEO BACKGROUND AREA ============= */
.player.mb_YTPlayer {
  height: 100vh;
  width: 100%;
}
.buttonBar {
  display: none;
}

/* ============= 20. ScreenShot Area ============= */
.screenshot-slider {
  margin-left: -20px;
  margin-right: -20px;
}
.screenshot-slider .slick-list {
  padding-left: 220px !important;
  padding-right: 220px !important;
}
.single-screenshot {transition:.4s;}
.single-screenshot.slick-active {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  z-index: 9;
}
.single-screenshot.slick-center {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 99 !important;
}

.single-screenshot .image {
  display: block;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
}
.download-button {
  margin-left: 65px!important;
}
.download-button .dwn-left {
  margin-right: -70px;
}
.download-button .dwn-right {
  margin-left: -70px;
}
.download-button .hero-btn {
  letter-spacing: 0;
}
.ss2-prev {
  left: -80px;
}
.ss2-next {
  right: -80px;
}
.screenshot-slider .slick-list {
  padding-top: 128px!important;
}

/* Apps Screeshot */
.single-screenshot.slick-slide.slick-current.slick-active {
  z-index: 9999 !important;
  position: relative;
}
.single-screenshot.slick-slide.slick-active {
  z-index: 999 !important;
}
.single-screenshot.slick-slide:focus{
	outline: none;
}

/* Pricing Table */
.pricing-table .content-button a {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s;
}
.pricing-table .content-desc li:nth-of-type(2n+1) {
  background-color: transparent!important;
}
.pricing-table .content-desc li:nth-of-type(2n+1) {
  background: rgba(23, 61, 80, 0.06) none repeat scroll 0 0;
}

/* ============= 21. ScrollUp ============= */
#scrollUp {
  background: #FA5765 none repeat scroll 0 0;
  border-radius: 0px;
  bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 28px;
  height: 40px;
  line-height: 35px;
  position: fixed;
  right: 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 40px;
  z-index: 200;
}
#scrollUp:hover{background:#3e3e3e;border-color:#3e3e3e;}
#menu-right-menu li a {
    color:#444444;
    font-weight: 700;
    padding: 6px 0px;
    border-radius: 4px;
    margin-left: 20px;
    transition: all 0.3s ease 0s;
}
#menu-right-menu li.daftar a {
    color:#ffffff;
    background: #54bbe6;
    padding: 6px 30px;
}

/* V2 Overwrites */

.header-top-area .top-bar-left-content > ul {
  list-style: none;
}

.header-top-area .top-bar-left-content > ul > li {
  display: inline-block;
  vertical-align: middle;
}

.header-top-area .top-bar-left-content > ul > li.separator {
  padding-left: 23px;
  margin-right: 23px;
  height: 20px;
  vertical-align: middle;
  border-right: 1px solid #c1c1c1;
}

.header-top-area .top-bar-left-content > ul > li strong {
  color: #4a4a4a;
}

.header-top-area .top-bar-left-content > ul > li:nth-child(5) > a > p:nth-child(1) {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.header-top-area .top-bar-left-content > ul > li:nth-child(5) > a > p:nth-child(2) {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.81;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

#menu-right-menu li.daftar a {
  padding: 14px 30px;
  border-radius: 24px;
  background-color: #15416f;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  color: #ffffff;
  display: block;
}

.footer-top-area a {
  color: white;
}

#home-blog-posts {
  padding-top: 80px;
  padding-bottom: 80px;
	background-color: #f6f8fe;
}

#home-blog-posts .kc_title {
  margin-top: 0!important;
}

#home-blog-posts .entry-thumb-wrapper {
  width: 100%;
  height: 190px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  border: 1px solid #fafafa;
  border-radius: 10px;
}

#home-blog-posts .entry-thumb-wrapper img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 5px;
  vertical-align: middle;
}

#home-blog-posts .content {
  padding: 0!important;
  margin-top: 24px;
  box-shadow: none!important;
}

#home-blog-posts .content .post-title-alt a {
  font-size: 16px!important;
  font-weight: 500!important;
  font-style: normal!important;
  font-stretch: normal!important;
  line-height: 1.38!important;
  letter-spacing: normal!important;
  color: #4a4a4a!important;
}

#home-blog-posts .content .entry-meta .entry-date a {
  font-size: 13px!important;
  font-weight: normal!important;
  font-style: normal!important;
  font-stretch: normal!important;
  line-height: 1.31!important;
  letter-spacing: normal!important;
  color: #9b9b9b!important;
}

h2.kc_title, h2.widgettitle {
  font-size: 30px!important;
}

.fitur-kelola-order-highlight {
	color: #ffffff!important;
}

h1.kc_title, h1.widgettitle {
  font-size: 40px!important;
}

.kc_title, .widgettitle, .kc_title a, .widgettitle a {
  font-family: Quicksand!important;
  font-weight: 500!important;
  font-style: normal!important;
  font-stretch: normal!important;
  letter-spacing: normal!important;
  color: #000000;
}

.button-more {
  font-size: 16px!important;
  font-weight: 500!important;
  font-style: normal!important;
  font-stretch: normal!important;
  letter-spacing: normal!important;
  text-align: center!important;
  color: #15416f!important;
  padding: 8px 60px!important;
  border-radius: 30px!important;
  background-color: #ffffff!important;
  border: 1.2px solid #54bbe6!important;
}

#home-featureset-1 {
  padding: 75px 80px;
  background-color: #f6f8fe;
}

#home-featureset-1 .kc-feature-boxes {
  box-shadow: none!important;
  padding: 0!important;
}

#home-featureset-1 .content-title {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

#home-featureset-1 .content-desc {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

#home-pricing {
  background-color: white;
  padding-bottom: 80px;
  padding-top: 80px;
}

#home-pricing .kc_title {
  margin-top: 0!important;
}

#home-pricing .kc_row {
  margin-top: 46px;
  margin-bottom: 61px;
}

#home-pricing .kc_row .kc_column_inner:last-child .content-duration {
  color: #4a90e2!important;
}

#home-pricing .header-pricing {
  padding: 0!important;
  background-color: white!important;
  border-radius: 6.4px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-top: 11px solid #54bbe6;
}

#home-pricing .header-pricing .content-title {
  font-family: Quicksand!important;
  font-size: 18.5px!important;
  font-weight: bold!important;
  font-style: normal!important;
  font-stretch: normal!important;
  letter-spacing: normal!important;
  text-align: center!important;
  color: #4a4a4a!important;
  padding-top: 23px!important;
}

#home-pricing .content-price {
  font-family: Roboto!important;
  font-size: 63.6px!important;
  font-weight: 300!important;
  font-style: normal!important;
  font-stretch: normal!important;
  letter-spacing: normal!important;
  text-align: center!important;
  color: #9b9b9b!important;
  padding-bottom: 0!important;
}

#home-pricing .content-duration {
  font-family: Quicksand!important;
  font-size: 14.6px!important;
  font-weight: normal!important;
  font-style: normal!important;
  font-stretch: normal!important;
  line-height: 0.93!important;
  letter-spacing: normal!important;
  text-align: center!important;
  color: #9b9b9b!important;
  padding-bottom: 23px!important;
}

.pricing-recommended-wrapper {
	position: relative;
}

.pricing-recommended {
	position: absolute;
	top: 9px;
    left: 12px;
}

#home-press-available {
  background-color: #f6f8fe;
  padding-top: 42px!important;
  padding-bottom: 42px!important;
}

#home-press-available .kc_title {
  margin-top: 0!important;
  margin-bottom: 20px!important;
}

#home-press-available .kc_single_image {
  position: relative;
  height: 120px;
}

#home-press-available .kc_single_image img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.home-register-now {
  text-align: center;
  background-image: linear-gradient(to bottom, #3fa5f7, #1f52a8);
  padding-top: 50px;
  padding-bottom: 50px;
}

.button-primary {
  border-radius: 25px!important;
  background-color: #15416f!important;
  color: white!important;
  font-family: Quicksand;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff!important;
  padding: 11px 36px!important;
  font-size: 14px!important;
}

#home-testimonials {
  padding-top: 70px;
  padding-bottom: 80px;
}

#home-testimonials .widgettitle {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 0;
}

#home-testimonials .testimonial_rotator_img {
	text-align: right!important;
    padding-top: 0!important;
    margin: 0px 50px!important;
    width: 10%;
}

#home-testimonials .testimonial_rotator_description {
	margin-right: 50px!important;
    width: 76%;
}

#home-testimonials .testimonial_rotator_img img {
  width: auto!important;
}

#home-testimonials .testimonial_rotator_quote {
  font-family: Quicksand;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-bottom: 20px;
}

#home-testimonials .testimonial_rotator_author_info {
  font-style: normal;
  font-family: Quicksand;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #676767;
  padding: 0;
  border-left: none;
}

#home-testimonials .testimonial_rotator_prev,
#home-testimonials .testimonial_rotator_next {
	color: #ffffff;
	padding: 5px;
	text-align: center;
	background-color: #54bbe6;
	border-radius: 15px;
	width: 30px;
}

#home-testimonials .testimonial_rotator_prev:hover,
#home-testimonials .testimonial_rotator_next:hover {
	color: #15416f;
}

/* End V2 Overwrites */