#footer-block {
    /* background: linear-gradient(295.96deg, #EAF5FF -1.6%, rgba(227, 238, 248, 0) 99.22%), #FAFCFF; */
    background: #f7f8fa;
    background-blend-mode: multiply, normal;
}

.image-footer {
    left: 172px;
}

.content-footer .footer-title {
    font-weight: 600;
    color: #364962;
    margin-bottom: 3vh;
}

.content-footer .footer-content .footer-list {
    padding-left: 0;
    list-style: none;
}

.content-footer .footer-content .footer-list li {
    padding-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #8896a2;
}

#footer-news-letter .title-news-letter {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #364962;
}

#footer-news-letter .content-news-letter {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #8896a2;
}

.btn-subscribe {
    border: 0;
    background: linear-gradient(270deg, #45a9ff 0%, #147ee3 100%);
}

#footer-news-letter #news-letter-input input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #bcc9da;
}

#footer-news-letter #news-letter-input input {
    box-shadow: 0px 5px 10px rgba(196, 203, 209, 0.2);
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    height: 36px;
}

#footer-news-letter #news-letter-input input:focus {
    z-index: 0;
}

#footer-news-letter #news-letter-input button {
    box-shadow: 0px 5px 10px rgba(196, 203, 209, 0.2);
    border: 0px;
}

/* override footer from moto css */
#footer-block .footer-bottom {
    background: #f7f8fa;
}

#footer-block .footer-bottom .copyright {
    border-top: 1px solid #cdd7e3;
}

#footer-block .footer-bottom .copyright .copyright-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5a7aa3;
}

#footer-block #copyright-clodeo .copyright-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5a7aa3;
}

#footer-block #copyright-clodeo .span-footer {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    color: #9bafc8;
}