/* Carousel */
@media (min-width: 480px) {
    #banner-main-blog .carousel-item .carousel-main-custom-item {
        border-radius: 12px;
        margin: 22px;
        padding-top: 30px;
    }
}

#banner-main-blog .carousel-item a {
    text-decoration: none;
    color: unset;
}

#banner-main-blog .carousel-card-body {
    height: 340px;
}

@media (max-width: 992px) {
    #banner-main-blog .carousel-card-body {
        height: 440px;
    }
}

#banner-main-blog .carousel-card-body .breadcrumbs {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #53387d;
    text-align: left;
}

#banner-main-blog .carousel-item a:hover {
    text-decoration: none;
    color: unset;
}

#banner-main-blog .carousel-indicators li,
.carousel-indicators li.active {
    width: 5px;
    height: 5px;
    border-radius: 80%;
}

#banner-main-blog .carousel-indicators li {
    background: #dee4ed;
    border: 2px solid #cfcfcf;
    margin-right: 15px;
}

#banner-main-blog .carousel-indicators li.active {
    background: #53387d;
    border-color: #53387d;
}

#banner-main-blog .carousel-card {
    /* Neutral Blue/1 */
    background: #fbfcfc;
    /* Neutral Blue/3 */

    border: 1px solid #eef2f6;
    box-sizing: border-box;
    /* 15/5 */

    box-shadow: 0px 5px 10px rgba(196, 203, 209, 0.2);
    border-radius: 12px;
    padding: 0px;
}

#banner-main-blog .carousel-card .carousel-card-body {
    padding: 35px;
}

#banner-main-blog .carousel-card .carousel-card-cover {
    max-height: 320px;
    overflow: hidden;
}
#banner-main-blog .carousel-card .carousel-card-cover img {
    width: -webkit-fill-available;
}

#banner-main-blog .carousel-card-body {
    padding: 0px 35px 35px 35px !important;
}

#banner-main-blog .card-content-header {
    color: #53387d;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

#banner-main-blog .card-content-content {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.5px;
    color: #414b54 !important;
}

#banner-main-blog .card-content-content p {
    color: #414b54 !important;
}

#banner-main-blog .card-content-content .text-content {
    font-size: 15px;
    line-height: 190%;
    letter-spacing: -0.5px;
    color: #414b54 !important;
}

#banner-main-blog .card-content-footer {
    position: absolute;
    bottom: 0px;
    left: 10px;
}

#banner-main-blog .card-content-footer .card-content-body {
    position: absolute;
    bottom: 5px;
}

#banner-main-blog .card-content-footer .card-content-body .date {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #62717d;
}

#banner-main-blog .card-content-footer .card-content-body .author {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #53387d;
}

#banner-main-blog .card-content-footer .card-content-body .author:hover {
    cursor: pointer;
}

/* Content-block */

/* side Bar/widget */
.side-widget {
    font-family: Montserrat;
}
.side-widget-label {
    /* Mon/Bold 14 */
    font-style: normal;
    font-weight: 600;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    /* or 18px */

    /* Neutral/7 */
    color: #414b54;
}

.side-widget-search-form input {
    height: 45px;
    background: #fbfcfc;
    box-shadow: 0px 5px 10px rgba(196, 203, 209, 0.2);
    border-radius: 5px 0px 0px 5px;
    font-size: 13px;
    color: #b69bc8;
}

.side-widget-search-form input::placeholder {
    font-size: 13px;
    line-height: 170%;
    color: #b69bc8;
}

.side-widget-search-form .form-control:focus {
    box-shadow: 0px 5px 10px rgba(196, 203, 209, 0.2);
    z-index: 0 !important;
    border: 0px;
}

.side-widget-search-form button {
    color: white;
    background: linear-gradient(270deg, #45a9ff 0%, #147ee3 100%);
    border-radius: 0px 5px 5px 0px;
}

.side-widget-search-form button:focus {
    box-shadow: unset !important;
}

.side-widget-categories .list-group .list-group-item {
    border-right: none;
    border-left: none;
    border-top: none;
    padding-left: 0px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 170%;
    /* or 22px */
}

.side-widget-categories .list-group .list-group-item a {
    /* Neutral Blue/7 */
    color: #b69bc8;
}

.side-widget-tags {
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 24px 5px;
    margin-bottom: 20px;
}

.side-widget-tags .badge-general {
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* Pallette/Blue Fade/02 */
    margin: 5px;
    padding: 10px;
    background: #ebe2f8;
    border-radius: 12px;
    font-weight: 600;

    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    /* Neutral Blue/8 */

    color: #775ba4;
}

.side-widget-hyperlink {
    background: linear-gradient(295.96deg, #eaf5ff -1.6%, rgba(227, 238, 248, 0) 99.22%), #fafcff;
    background-blend-mode: multiply, normal;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 20px;
}

.side-widget-hyperlink .side-widget-hyperlink-label {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #2f6690;
}

.side-widget-hyperlink .side-widget-hyperlink-desc {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    color: #5A7AA3;
}

.side-widget-hyperlink .side-widget-hyperlink-link {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    color: #53387d;
}

.img-rounded {
    border-radius: 12px 12px 0px 0px;
}

.carousel-relative {
    position: relative;
}

.carousel-relative .caption-image {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    background-color: #ffc22b;
    text-align: center;
    border-radius: 32px;
    height: 23px;
}

.carousel-relative .caption-image .caption-text {
    font-size: 9px;
    color: #fbfcfc;
    font-weight: 600;
    font-weight: bold;
}

.caption-carousel {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.5px;
    color: #414b54;
}

.carousel-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.carousel-li {
    float: left;
}

.carousel-li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #53387d;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

#card-main-blog .carousel-card-body {
    padding: 0px 35px 35px 35px !important;
}

#card-main-blog .card-content-header {
    color: #53387d;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

#card-main-blog .card-content-content {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.5px;
    color: #414b54;
}

#card-main-blog .card-content-footer {
    position: relative;
    height: 15vh;
}

#card-main-blog .card-content-footer .card-content-body {
    position: absolute;
    bottom: 0;
}

#card-main-blog .card-content-footer .card-content-body .date {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #62717d;
}

#card-main-blog .card-content-footer .card-content-body .author {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #53387d;
}

#card-main-blog .card-content-footer .card-content-body .author:hover {
    cursor: pointer;
}

#card-main-blog .card-shadowed {
    border: 0;
    box-shadow: 0px 0px 9px 0px rgba(207, 207, 207, 1);
    border-radius: 12px;
    margin-top: 30px;
}

#card-main-blog .card-content-header span:hover {
    cursor: pointer;
}

.search .search-input {
    border: 0px;
    background: #fbfcfc;
    box-shadow: 0px 5px 10px rgba(196, 203, 209, 0.2);
    border-radius: 5px 0px 0px 5px;
}

.search .search-button {
    border: 0px;
    width: 45px;
}

.side-widget-recent .side-widget-content .side-widget-image {
    border-radius: 10px;
}

.side-widget-recent .side-widget-content .side-widget-text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #414b54;
}

.side-widget-recent .side-widget-content:hover {
    cursor: pointer;
}

.side-widget-recent .side-widget-content .side-widget-text .side-widget-author {
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #b69bc8;
}

.topics span {
    color: #775ba4;
}

.topics span:hover {
    cursor: pointer;
}

.load-more {
    padding: 60px 0px 40px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #53387d;
}
.load-more-button {
    cursor: pointer;
}

.try-clodeo {
    background: #f7f8fa;
    border-radius: 12px;
}

.try-clodeo-image {
    border-radius: 0px 12px 12px 0px;
}

.try-clodeo-content {
    margin: auto;
}

.try-clodeo .content-hyperlink-clodeo .title {
    font-weight: 600;
    font-size: 18px;
    color: #31383f;
}

.try-clodeo .content-hyperlink-clodeo .content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #5a7aa3;
}

.try-clodeo .content-hyperlink-clodeo .footer {
    padding-top: 5vh;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

/* min-width:1024px */
@media screen and (min-width: 1024px) {
    .nav-item .nav-link {
        margin-left: 40px;
    }

    .nav-item .nav-link.active {
        margin-left: 40px;
    }
}

.no-image-div {
    height: 320px;
    background: linear-gradient(0deg, #cdd7e3 0%, rgba(238, 242, 246, 0) 100%), #dee4ed;
}
.no-image-div img {
    position: absolute;
    left: 44%;
    top: 35%;
    width: 100px !important;
    height: 100px;
}

/* Blog Detail CSS */
.blog-main .blog-breadcrumb .blog-breadcrumb-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0px;
}

.blog-main .blog-breadcrumb .blog-breadcrumb-list .item {
    padding-right: 40px;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.blog-main .blog-breadcrumb .blog-breadcrumb-list .item a {
    text-decoration: none;
    color: #b69bc8;
}

.blog-main .blog-breadcrumb .blog-breadcrumb-list .item.active {
    padding-right: unset;
    position: relative;
    text-decoration: underline;
    color: #a02bff;
}

.blog-main .blog-breadcrumb .blog-breadcrumb-list .item::after {
    content: "";
    background-image: url("../images//breadcrumb/breadcrumb-arrow.png");
    width: 8px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 10px;
    bottom: -9px;
    right: 17px;
}

.blog-main .blog-breadcrumb .blog-breadcrumb-list .item.active::after {
    content: unset;
    background-image: unset;
}

.blog-main .blog-text-description h1 {
    font-weight: normal;
    font-style: normal;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.blog-main .blog-text-description p {
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 190%;
}
.blog-main .blog-text-description strong {
    font-size: 18px;
}

.blog-main .blog-text-description h5,
.blog-main .blog-text-description h6 {
    font-weight: normal;
    font-style: normal;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.blog-main .blog-text-description ol {
    list-style: outside none decimal;
    margin: 0 0 26px 35px;
}

.blog-main .blog-text-description ul {
    list-style: outside none disc;
    margin: 0 0 26px 35px;
}

.blog-main .blog-text-description ul li {
    color: #777;
    font-size: 16px;
}

.blog-main .blog-text-description ol li {
    color: #666;
    font-size: 16px;
    list-style: outside none decimal;
    margin: 0 0 6px;
}

.blog-main .blog-text-description .title-text {
    font-size: 17px;
    line-height: 190%;
    letter-spacing: -0.5px;
    color: #31383f;
    font-weight: 600;
    padding-top: 40px;
}

.blog-main .blog-text-description .desc-text {
    font-size: 15px;
    line-height: 190%;
    letter-spacing: -0.5px;
    color: #31383f;
}

@media screen and (max-width: 992px) {
    .blog-main .side-bar {
        padding-top: 60px;
    }
}

.blog-main .side-bar .side-links a {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #53387d;
}

.blog-main .side-bar .side-links p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.5px;
    color: #414b54;
    padding-left: 7px;
}
.blog-main .side-bar .side-links .separator {
    color: #a6b0b9;
    font-size: 10px;
    position: relative;
    top: -3px;
    padding: 0px 3px;
}

.blog-main .side-bar .blog-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #414b54;
    padding-bottom: 20px;
    margin-bottom: unset;
}

@media (max-width: 992px) {
    .blog-main .side-bar {
        padding-top: 0px;
    }
    .blog-main .side-bar .blog-title {
        margin-bottom: 0px;
        padding-top: 0px !important;
        font-size: 18px;
    }
}

.blog-main .side-bar .blog-date-comment {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #b69bc8;
}
.blog-main .side-bar .blog-date-comment .date-time .side-date {
    padding-left: 20px;
    position: relative;
}
.blog-main .side-bar .blog-date-comment .date-time .side-date::before {
    content: "";
    background-image: url("../images/sidebar/time-icon.png");
    width: 13px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0px;
    bottom: -7px;
}

.blog-main .side-bar .blog-date-comment .date-time a .comment {
    color: #999;
    padding-left: 20px;
    position: relative;
}
.blog-main .side-bar .blog-date-comment .date-time a .comment:hover {
    color: #999;
}
.blog-main .side-bar .blog-date-comment .date-time a .comment::after {
    content: "";
    background-image: url("../images/sidebar/message-icon.png");
    width: 13px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0px;
    bottom: -8px;
}

.blog-main .side-bar .blog-author {
    padding-top: 40px;
    padding-bottom: 40px;
}
.blog-main .side-bar .blog-author .author-name {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 170%;
    color: #414b54;
    margin-bottom: 0px;
    padding-left: 10px;
}
.blog-main .side-bar .blog-author .author-job p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    color: #62717d;
    margin-bottom: 0px;
}
.blog-main .side-bar .blog-author .author-image img {
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.blog-main .blog-side-search-articles {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #414b54;
    padding-top: 215px;
}

@media screen and (max-width: 1200px) {
    .blog-main .blog-side-search-articles {
        padding-top: 130px;
    }
}

@media screen and (max-width: 992px) {
    .blog-main .blog-side-search-articles {
        padding-top: 55px;
    }
}

.blog-main .blog-side-search-articles .btn-search {
    border-radius: 0px 12px 12px 0px;
    background: linear-gradient(270deg, #45a9ff 0%, #147ee3 100%);
    box-shadow: 0px 5px 10px rgba(196, 203, 209, 0.2);
    border: 0px;
    padding: 10px 0.75rem;
}

.blog-main .blog-side-search-articles .search-articles-input {
    box-shadow: 0px 5px 10px rgba(196, 203, 209, 0.2);
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    padding: 5px 0.75rem;
    height: 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #b69bc8;
}

.blog-main .blog-side-search-articles .search-articles-input:focus {
    z-index: unset;
}

.blog-main .blog-side-clodeo-ads {
    margin-top: 64px;
    background: linear-gradient(298.17deg, #eaf5ff -1.6%, rgba(227, 238, 248, 0) 99.22%), #fafcff;
    background-blend-mode: multiply, normal;
    border-radius: 8px;
}

.blog-main .blog-side-clodeo-ads .title {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    color: #2f6690;
}

.blog-main .blog-side-clodeo-ads .desc {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #775ba4;
}

.blog-main .blog-side-clodeo-ads span {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #53387d;
    padding-left: 8px;
}

.blog-main .blog-media-social {
    border-top: 1px solid #e8e8e8;
    padding-top: 20px;
    padding-bottom: 40px;
}

.blog-main .blog-media-social .media-social-title {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 170%;
    text-align: center;
    color: #62717d;
}

.blog-main .blog-media-social .facebook-btn {
    background: linear-gradient(270deg, #45a9ff 0%, #147ee3 100%);
    border-radius: 9px;
    width: 154px;
    height: 48px;
}

@media screen and (max-width: 425px) {
    .blog-main .blog-media-social .facebook-btn {
        width: 100%;
    }
}

.blog-main .blog-media-social .facebook-btn span {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: #fbfcfc;
}

.blog-main .blog-media-social .twitter-btn {
    background: linear-gradient(270deg, #83c5fd 0%, #45a9ff 100%);
    border-radius: 9px;
    width: 154px;
    height: 48px;
}

@media screen and (max-width: 425px) {
    .blog-main .blog-media-social .twitter-btn {
        width: 100%;
    }
}

.blog-main .blog-media-social .twitter-btn span {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: #fbfcfc;
}

.blog-main .blog-media-social img {
    width: 30px;
    margin-left: -10px;
    margin-right: 10px;
}

.blog-main .blog-side-clodeo-ads {
    margin-top: 64px;
    background: linear-gradient(298.17deg, #eaf5ff -1.6%, rgba(227, 238, 248, 0) 99.22%), #fafcff;
    background-blend-mode: multiply, normal;
    border-radius: 8px;
}

.blog-main .blog-subscribe-newslatter .btn-search {
    background: linear-gradient(270deg, #45a9ff 0%, #147ee3 100%);
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 5px 10px rgba(196, 203, 209, 0.2);
    border: 0px;
    padding: 7px 0.75rem;
}

.blog-main .blog-subscribe-newslatter .search-articles-input {
    box-shadow: 0px 5px 10px rgba(196, 203, 209, 0.2);
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    padding: 5px 0.75rem;
    height: 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 170%;
    color: #b69bc8;
}

.blog-main .blog-subscribe-newslatter .search-articles-input:focus {
    z-index: unset;
}

.blog-main .blog-subscribe-newslatter .title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #53387d;
    padding-bottom: 10px;
    padding-top: 100px;
}

.blog-main .blog-subscribe-newslatter .desc {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #2f6690;
    padding-bottom: 24px;
}

.blog-main .blog-subscribe-newslatter .desc p {
    width: 50%;
    margin: auto;
}

/* Featured Articles */

.featured-articles {
    padding-top: 10px;
    padding-bottom: 40px;
}

.featured-articles .title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #53387d;
}

.featured-articles .blog-card-row {
    background: #fbfcfc;
    box-shadow: 0px 5px 10px rgba(196, 203, 209, 0.2);
    border-radius: 12px;
    margin: 12px 3px;
    height: 100%;
    border: 1px solid #eef2f6;
}

@media (max-width: 425px) {
    .featured-articles .blog-card-row {
        margin: 8px 0px;
    }
}

.featured-articles .blog-card-row:hover {
    box-shadow: 5px 8px 13px rgba(196, 203, 209, 0.5);
}

.featured-articles .no-underline {
    text-decoration: none;
}

.featured-articles .no-underline:hover {
    text-decoration: none;
}

.featured-articles .blog-card-row img {
    border-radius: 12px 12px 0px 0px;
}

@media screen and (max-width: 768px) {
    .featured-articles .blog-card-row img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .featured-articles .blog-card-row img {
        height: 120px;
    }
}

@media screen and (min-width: 768px) {
    .featured-articles .blog-card-row img {
        height: 150px;
    }
}

@media screen and (min-width: 1024px) {
    .featured-articles .blog-card-row img {
        height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .featured-articles .blog-card-row img {
        height: 240px;
    }
}

.featured-articles .floating-featuring-highlght {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #ffc22b;
    border-radius: 32px;
    padding: 5px 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 170%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fbfcfc;
}

.featured-articles .breadcrumbs {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 170%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #53387d;
    text-align: left;
}

.featured-articles .card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.5px;
    color: #414b54;
}

@media (max-width: 425px) {
    .featured-articles .card-title {
        font-size: 12px;
    }
}

.featured-articles .card-date-time p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #62717d;
}

.featured-articles .card-date-time p span {
    margin-left: 20px;
    color: #53387d;
}

@media (max-width: 425px) {
    .featured-articles .card-date-time p {
        font-size: 12px;
    }

    .featured-articles .card-date-time p span {
        margin-left: 0px;
    }
}

.category-tags-button {
    background: #e0f4f8;
    border-radius: 12px;

    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #775ba4;
    border: 0;

    padding: 8px 15px;
}

.category-tags-button:focus {
    box-shadow: none;
    outline: none;
}

.title-category-tag {
    text-transform: capitalize;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.5px;
    color: #414b54;
    padding-left: 10px;
}
