@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#border-nav {
    padding-top: 20px;
    border-bottom: 1px solid #DEE4ED;
}

#border-nav .btn {
    background-color: #f8f9fa;
}

#navbar-logo {
    margin-bottom:10px;
    width: 85%;
}

.nav-item .nav-link {
    font-family: 'Poppins';
    left: 30%;
    right: 70%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 11px;
    /* identical to box height, or 73% */

    /* Neutral Blue/7 */
    color: #00000088 !important;
}

.nav-item .nav-link.active{
    font-family: 'Poppins';
    left: 30%;
    right: 70%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 11px;
    /* identical to box height, or 73% */

    /* Primary/Cobalt/3 */
    color: #53387d !important;
}

.nav-item .nav-link:hover{
    font-family: 'Poppins';
    left: 21.57%;
    right: 63.97%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 11px;
    /* identical to box height, or 73% */

    /* Primary/Cobalt/3 */
    color: #53387d !important;
}

/* Navbar-toggler */
.navbar-toggler {
    /* background-color:  #54bbe6 !important ; */
    border: unset;
    margin-top: -10px;
}

.navbar-toggler .navbar-toggler-icon {
    color: white;
}
