.blog-comment-section .comments-area .comment-list .comment-author.comment-img img {
    border-radius: 50%;
}

.blog-comment-section .comments-area .comment-list .comment-text.copy .comment-meta.commentmetadata a {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #62717d;
}

.blog-comment-section .comments-area .comment-list .comment-text.copy .comment-meta.commentmetadata .edit--btn {
    color: #4c4c4c;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 7px 20px 6px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    text-decoration: none;
    top: unset;
    bottom: -8px;
}

.blog-comment-section .comments-area .comment-list .comment-text.copy .comment-meta.commentmetadata .edit--btn a {
    font-weight: unset;
    font-size: unset;
    line-height: unset;
    color: #999;
}

.blog-comment-section .comments-area .comment-list .comment-text.copy .comment-meta.commentmetadata .comment-date-time {
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 12px;
    color: #bcc9da;
}

.blog-comment-section .comments-area .comment-list .comment-text.copy p {
    font-style: normal;
    font-weight: normal;
    line-height: 31px;
    color: #63738e;
}

.blog-comment-section .comments-area .comment-list .comment-text.copy .reply a {
    top: -10px;
    bottom: unset;
    border: unset;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.05882px;
    text-transform: uppercase;
    color: #147ee3;
}

.blog-comment-section .comments-area .comment-list .comment-text.copy .reply a:hover {
    border: unset;
    color: #147ee3;
    background-color: transparent;
    animation: 1s linear;
    right: -8px;
}

.blog-comment-section .comments-area .comment-form textarea {
    background: #f7f8fa none repeat scroll 0 0;
    border-radius: 12px;
    border: 0px;
    margin-top: 10px;
}

.blog-comment-section .comments-area .comment-form textarea:focus {
    outline: none;
}

.blog-comment-section .comments-area .comment-form input {
    padding: 2px 20px;
}

.blog-comment-section .comments-area .comment-form input:focus {
    outline: none;
}

.blog-comment-section .comments-area .comment-form .form-submit input {
    width: 30%;
    background: linear-gradient(270deg, #53387d 0%, #9775cd 100%);
    /* background: linear-gradient(270deg, #45a9ff 0%, #147ee3 100%); */
    border: none;
    font-size: 12px;
    padding: unset;
    border-radius: 12px;
}

.blog-comment-section .comments-area .comment-form .form-submit input:hover {
    color: white;
}

.blog-comment-section .comments-area .comment-form .form-submit input:focus {
    outline: none;
}

.blog-comment-section .comments-area .comment-form input {
    background: #f7f8fa;
    border-radius: 12px;
    border: none;
}

.blog-comment-section .comments-area .comment-form label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #a6b0b9;
}
