.w20_fastwp_vc{
    width: 20%;
    max-width:20%;
}

.w25_fastwp_vc{
    width: 25%;
    max-width:25%;
}

.w33_fastwp_vc{
    width: 33.33%;
    max-width:33.33%;                                 
}

.w50_fastwp_vc{
    width: 50%;
    max-width:50%;
}

.w66_fastwp_vc{
    width: 66.67%;
    max-width:66.67%;
}

.w75_fastwp_vc{
    width: 75%;
    max-width:75%;
}

.w20_fastwp_vc, .w25_fastwp_vc, .w33_fastwp_vc, .w50_fastwp_vc, .w66_fastwp_vc, .w75_fastwp_vc {
    padding: 15px;
    box-sizing: border-box;
}

/* menu item clearfix */
.menu-item-settings::after {clear:both; display:table; content: " "}

/* form table for user's custom fields */
.form-uexr tr:last-child {
    display: none;
}