/* Form style */
input, textarea, select {
	border: 0;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	float: none;
	display: block;
	margin: 0px;
	-webkit-appearance: none;
	background: none
}
textarea {
	resize: none;
}
#message {
	margin: 0;
	padding: 0px;
	z-index: 200;
	height: auto;
}
.error_message, #success_page {
	display: block;
	height: auto;
	color: #d31800;
	font-style: italic;
	font-size: 12px;
	padding: 10px 0px 0px 0px;
	line-height: 1.5;
	margin-bottom: -10px;
	position: relative;
}
#success_page {
	color: #2b2b2b !important;
}
.loader {
	display: none;
}
/* Form Element Styling */
.wpcf7 {
    height: 100%;
}
.wpcf7-response-output {
    position: absolute;
    top: 0;
    background-color: #e9e9e9;
}
.form-part {
	padding: 0;
	margin: 0px 0 8px;
	margin-top: -15px;
	position: relative;
	height:100%;
}
.form-part textarea, .form-part select, .form-part input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]) {
	display: block;
	width: 100%;
	padding: 12px 0px 12px;
	border-bottom: 2px solid #d8d8d8;
	line-height: 20px;
}
.form-part textarea {
	height: 200px;
	resize: none;
}
.form-part .input-wrapper {
	position: relative;
}
input:focus {
	background: none !important;
}
.send-btn {
	display: block; position:absolute; bottom:-15px; left:0; width:100%; z-index:100; cursor:pointer; text-indent:-9999px;
}
.wpcf7-response-output {
    cursor: not-allowed;
}
.holder .social-header { bottom:-25px; }
.holder .arrow-right.dark { bottom:-15px; right:20px; }
.holder:hover .arrow-right.dark { right:-1px !important }