@charset "utf-8";

@media only screen and (max-width: 1182px) {
.container {
	width: 936px;
}
.large-bg-tiles .col--3-2 {
	width: 468px;
	height: 468px;
}
.large-bg-tiles .col--3-2 .parent {
	padding: 55px 80px;
}
.extra-padding-right {
	padding-right: 10px
}
}

@media only screen and (max-width: 948px) {
.container {
	width: 702px;
}
.large-bg-tiles .col--3-2, .large-bg-tiles .col--2-2 {
	width: 702px;
	height: 468px;
}
.large-bg-tiles .col--3-2 .parent, .large-bg-tiles .col--2-2 .parent {
	padding: 55px 160px;
}
.about .large-bg-tiles .col--2-2.text {
	height: auto;
}
.about .large-bg-tiles .col--2-2.text .parent {
	position: relative;
	padding: 0;
}
.about .large-bg-tiles .col--2-2.text .borders.big-header {
	padding: 0;
}
}

@media only screen and (max-width: 714px) {
.container {
	width: 468px;
}
.col--3-2 {
	width: 468px;
	height: auto;
	float: none;
}
.large-bg-tiles .col--3-2, .large-bg-tiles .col--2-2 {
	width: 468px;
	height: 468px;
}
.large-bg-tiles .col--3-2 .parent, .large-bg-tiles .col--2-2 .parent {
	padding: 55px 80px;
}
.image-holder {
	height: 468px;
	width: 468px;
	float: none;
}
.text-holder {
	height: auto;
	width: 468px;
	margin-left: 0;
	border-top: 0;
}
.avatar-holder {
	position: relative;
	bottom: auto;
	padding: 0 0 10px;
}
.col--2-1 .image-holder {
	height: 234px;
	width: 140px;
	float: left;
}
.col--2-1 .text-holder {
	height: 214px;
	width: 288px;
	margin-left: 160px;
	border-top: 2px solid #2b2b2b;
}
.post-image .borders.big-header {
	padding: 55px 80px;
}
h1 {
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: -2px;
}
.full-height-wrapper {
	height: 234px;
	width: 100%;
	overflow: hidden;
}
.containing-image-wrapper {
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
}
}

@media only screen and (max-width: 480px) {
#header .social-list {
	display: none;
}
nav .social-list {
	display: block;
}
.greyed {
	padding: 30px 35px 29px 35px !important;
}
.social-header {
	position: relative;
	bottom: auto;
	padding-top: 10px;
}
.holder .social-header {
	padding-bottom: 25px;
}
.send-btn {
	bottom: -5px;
}
.arrow-right {
	display: none !important;
}
.display-on-hover {
	height: 234px !important;
}
.greyed .parent {
	position: relative;
	padding: 0;
}
.intro h1 {
	max-width: 100% !important;
}
.intro .col--5 {
	padding: 17px 25px;
}
.container {
	width: 100%;
}
.col--1-1, .col--2-2, .col--1-2, .col--2-1, .col--2-3, .col--3-2 {
	width: 100%;
	height: auto;
	float: none;
	padding: 10px 25px;
}
.large-bg-tiles .col--3-2 .parent, .large-bg-tiles .col--2-2 .parent {
	padding: 15px 25px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .extra-padding-right {
	padding: 10px 25px;
}
.row {
	margin-left: -25px;
	margin-right: -25px;
}
.with-bg.post-image {
	height: auto !important;
}
.vertical-aligned-wrapper {
	display: table;
	width: 100%;
	height: 100%;
}
.borders {
	border-bottom: 1px solid #d8d8d8;
	width: 100%;
	height: 100%;
	position: relative
}
.with-bg .borders {
	border: 0;
}
.borders.no-image {
	border-top: 2px solid #2b2b2b;
	height: auto;
	display: block;
	padding-bottom: 5px;
}
.borders.right-image {
	border: 0;
}
.borders.complete {
	border: 1px solid #d8d8d8 !important;
	height: auto;
}
.borders.big-header {
	padding: 17px 35px !important;
}
.image-holder {
	height: 234px;
	width: 100%;
	float: none;
}
.text-holder {
	height: auto;
	width: 100%;
	margin-left: 0;
	border-top: 0;
}
.col--2-1 .image-holder {
	height: 234px;
	width: 100%;
	float: none;
}
.col--2-1 .text-holder {
	height: auto;
	width: 100%;
	margin-left: 0;
	border-top: 0;
}
h1 {
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: -1.5px;
	margin-bottom: 20px;
}
h2 {
	font-size: 24px;
	line-height: 1.25;
	letter-spacing: -1px;
	font-weight: 600;
}
h3 {
	font-size: 20px;
	letter-spacing: -0.5px;
}
footer p {
	padding: 0 15px;
	text-align: center;
	display: block;
	float: none !important;
}
}
